{
    "plugins": [
        "@babel/plugin-transform-runtime"
    ],
    "presets": [
        "@babel/preset-env", //Soporte las nuevas caracteristicas de ecmascript
        "@babel/preset-react" //Soporte para jsx react
    ]
}